<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yourcompany.yourgame">

    <!-- Required permission for network access -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <!-- Unity will merge its own activity definitions -->
    </application>

</manifest>